ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.container
{
  width: 100%;
}
.box{
  color: #2f2f2f;
  background-color: #d3c0d3;
  margin-top: 50px;
  padding: 50px 50px;
  border-style: outset;
  border-width: 5px;
  border-radius: 30px;
  box-sizing: border-box;
}
/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #681a5d;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1f2021;
  color: white !important
}