
.container
{
	width: 500px;
}
.loginbox{
	color: #2f2f2f;
	background-color: #d3c0d3;
	padding: 30px 30px;
	border-style: outset;
	border-width: 5px;
	border-radius: 30px;
	box-sizing: border-box;
}

.icono{
	width: 30%;
	height: 40%;
	border-radius: 30%;
	position: center;
	background-color:#e6e6e7;
}

#d1{
	width: 50%;
    background-color:#e6e6e7;
}
 
/*.button{
	padding:; 2px;
	margin:4px 2px;
	border-style: none;
	color:black;
	text-align: center;
	box-shadow: 0 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}*/

/*.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: bold 16px sans-serif;
	color: black;
	padding: 55px 50px;
	margin-top: 75px;
}*/